*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app{
    background: #fff;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

h1,
h2{
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

.input-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button{
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover{
    color: #0056b3;
    background: #fff;
    border: 1px solid #007BFF;
}

.total{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #007BFF;
}

#expenseList{
    list-style: none;
    padding: 0;
    margin: 0;
}

#expenseList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: #f9f9f9;
    transition: background 0.3s ease;
    font-size: 16px;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#expenseList li:last-child{
    border-bottom: none;
}

#expenseList li:hover{
    background: #fff;
    color: #007BFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-btn{
    padding: 5px 10px;
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.delete-btn:hover{
    color: #ff0000;
    background: #fff;
    border: 1px solid #ff0000;
}

.edit-btn{
    padding: 5px 10px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
}

.edit-btn:hover{
    background: #fff;
    color: #28a745;
    border: 1px solid #28a745;
}
